* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#f15a24, #ffffff);
}

body > div {
    background: white;
    padding: 40px;
    max-width: 1100px;       /* keeps the sheet from stretching full width */
    margin: 0 auto 40px;     /* top = 0, bottom = 40px, horizontal auto */
}


header,
nav,
body > div {
    max-width: 1100px;   
    margin: 0 auto;       
}

body > div {
    margin: 0 auto 40px; 
}

header {
    background: linear-gradient(#29abe2, #0071bc);
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}

header img {
    width: 60px;
    margin-right: 15px;
}

header h1 {
    font-size: 32px;
}

nav {
    background: linear-gradient(#fcee21, #fbb03b);
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 120px;
}

nav li {
    width: 160px;
    text-align: center;
}


nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav img {
    display: block;
    margin: 0 auto 6px;
}


body > div {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
    background: white;
}

article {
    width: 300px;
    height: 560px;
    background: url("../imgs/tel.jpeg") no-repeat center;
    background-size: contain;
    padding: 80px 30px 40px 30px;
    text-align: center;
    position: relative;
}

article img:first-of-type {
    width: 120px;
    margin-bottom: 15px;
}

article h2 {
    margin: 15px 0;
    font-size: 26px;
}

article p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.4;
}


footer {
    background: linear-gradient(#29abe2, #0071bc);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

footer a {
    color: white;
}

